.menu-list{
    display: flex;
}
.menu-item{
    margin-left: 20px;
}
.agendamentos{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
}