<header class="header">
        <h1 class="header-heading">
            <a href="{% url "barbearia:home" %}" class="header-link">
                Agenda
            </a>
        </h1>
        <nav class="menu">
            <ul class="menu-list">
                {% if user.is_authenticated %}
                    <li class="menu-item">
                        <a href="{% url "barbearia:agendar" %}" class="menu-link">Agendar</a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link">Profile</a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link">Logout</a>
                    </li>
                {% else %}
                    <li class="menu-item">
                        <a href="" class="menu-link">Login</a>
                    </li>
                    <li class="menu-item">
                        <a href="" class="menu-link">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>