{% extends "global/base.html" %}
{% block content %}
    <h1>Detalhes do Agendamento</h1>
    <p>ID: {{ agendamento.id }}</p>
    <p>Data: {{ agendamento.date }}</p>
    <p>Categoria: {{ agendamento.category }}</p>
    <p>Barbeiro: {{ agendamento.barbeiro }}</p>

    <form action="{% url "barbearia:delete" agendamento.id %}" method="post">
        {% csrf_token %}
        {% if confirmation == 'no' %}
            <input type="hidden" name="confirmation" value="yes">
            <button type="submit">Confirma?</button>
        {% else %}
            <button type="submit">Delete</button>        
        {% endif %}
    </form>
{% endblock content %}