{% extends "global/base.html" %}
{% block content %}
    <div class="agendamento-info">
        <div class="agendamento">
            <h1>Detalhes do Agendamento</h1>
            <p>ID: {{ agendamento.id }}</p>
            <p>Data: {{ agendamento.date }}</p>
            <p>Categoria: {{ agendamento.category }}</p>
        </div>
        <div class="botoes">
            <a class="btn btn_azuis" href="{% url "barbearia:update" agendamento.id %}">Update</a>
            <form action="{% url "barbearia:delete" agendamento.id %}" method="post">
                {% csrf_token %}
                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="yes">
                    <button class="btn btn-delete" type="submit">Confirma?</button>
                {% else %}
                    <button class="btn btn-delete" type="submit">Delete</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}