{% load static %}
<div id="cortes" class="cortes">
    <div class="cortes-linha">
        <img class="img-corte" src="{% static 'global/imagens/corte-1.jpg' %}" alt="">
        <img class="img-corte" src="{% static 'global/imagens/corte-2.jpg' %}" alt="">
        <img class="img-corte" src="{% static 'global/imagens/corte-3.jpg' %}" alt="">
    </div>
    <div class="cortes-linha">
        <img class="img-corte" src="{% static 'global/imagens/corte-4.jpg' %}" alt="">
        <img class="img-corte" src="{% static 'global/imagens/corte-5.jpg' %}" alt="">
        <img class="img-corte" src="{% static 'global/imagens/corte-6.jpg' %}" alt="">
    </div>
</div>