{% load static %}
<!-- CORTES -->
<section id="cortes" class="secao secao-clara">
    <div class="secao-interno">
        <header class="secao-cabecalho">
            <h2 class="secao-titulo">Cortes</h2>
        </header>

        <div class="cortes-grade">
            <img src="{% static 'global/imagens/corte-1.jpg' %}" alt="Corte 1">
            <img src="{% static 'global/imagens/corte-2.jpg' %}" alt="Corte 2">
            <img src="{% static 'global/imagens/corte-3.jpg' %}" alt="Corte 3">
            <img src="{% static 'global/imagens/corte-4.jpg' %}" alt="Corte 4">
            <img src="{% static 'global/imagens/corte-5.jpg' %}" alt="Corte 5">
            <img src="{% static 'global/imagens/corte-6.jpg' %}" alt="Corte 6">
        </div>
    </div>
</section>