*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: darkslategrey;
}
.header {
    width: 100%;
    background-color: #f9f9f9;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-heading {
    background-color: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
}
.menu-list{
    display: flex;
}
.menu-item{
    margin-left: 20px;
    background-color: #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    list-style-type: none;
}
.agendamentos{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.agendamento-info{
    margin: auto;
    width: 70%;
    padding: 30px;
    text-align: center;
    background-color: #ccc;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px;
}
.btn-delete{
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px;
}
.btn-delete:hover{
    background-color: #680d16;
}
.errorlist{
    margin: auto;
    color: white;
    background-color: #dc3545;
    width:fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}
.btn_azuis{
    background-color: #354edc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px;
    
}
.btn_azuis:hover{
    background-color: #0d1a68;
}
.botoes{
    display: flex;
    justify-content: center;
}
.form-content{
    padding: 10px;
    background-color: white;
}
.form-group{
    position: relative;
}
label{
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 42%;
    pointer-events: none;
    transition: .3s;
    padding: 0 4px;
    background-color: white;
}
input:focus~label,
input:valid~label{
    top: 8%;
}
.form-group > input{
    margin: 10px;
    padding: 10px;
}
.imagem{
    background-color: rgb(82, 82, 82);
    color: white;
    box-shadow: inset 1px 1px 15px black;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}
.imagem > a{
    margin-top: 30px;
}
.imagem > h1 {
    padding: 10px;
    margin: 30px 0px;
    box-shadow: inset 1px 1px 15px black;

}
#inicio{
    background-image: url("../imagens/nos_nessa_porra.JPG");
    background-position: center top;
}
.normal{
    width: 70vw;
    padding-bottom: 20px;
    margin: auto;
    background-color: white;
    box-shadow: 1px 1px 15px black;
}
.normal-group{
    display: flex;
    flex-wrap: wrap-reverse;
}
.normal > .normal-group > img{
    margin: 30px;
    min-width: 100px;
    max-width: 400px;
    box-shadow: 1px 1px 15px rgb(238, 0, 255);
}
.normal > .normal-group > .paragrafos > p{
    min-width: 100px;
    max-width: 400px;
    margin: 30px;
    text-align: justify;
    font-size: larger;
}
.paragrafos{
    width: 40%;
}